<aside
  class="d-flex flex-column flex-shrink-0 p-3 bg-body-secondary auto h-100"
>
  <img
    src="../../assets/images/Logo.png"
    alt="Logo"
    style="width: 150px; height: auto"
  />

  <hr />

  <ul class="nav nav-pills mb-auto d-flex flex-column">
    <li routerLink="/agendamentos">
      <i class="me-2 my-3 pi pi-calendar"></i>
      Agendamentos
    </li>
    <li routerLink="/clientes">
      <i class="me-2 my-3 pi pi-users"></i>
      Clientes
    </li>
    <li routerLink="/profissionais">
      <i class="me-2 my-3 pi pi-user"></i>
      Profissionais
    </li>
    <li routerLink="/servicos">
      <i class="me-2 my-3 pi pi-tag"></i>
      Serviços
    </li>
  </ul>
</aside>
