<aside class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">
  <img
    src="../../assets/images/Logo.png"
    alt="Logo"
    style="width: 150px; height: auto"
  />

  <hr />

  <ul class="nav nav-pills mb-auto d-flex flex-column">
    <li routerLink="/agendamentos">
      <i class="me-2 my-3 pi pi-calendar"></i>
      <a>Agendamentos</a>
    </li>
    <li routerLink="/clientes">
      <i class="me-2 my-3 pi pi-users"></i>
      <a>Clientes</a>
    </li>
    <li routerLink="/profissionais">
      <i class="me-2 my-3 pi pi-user"></i>
      <a>Profissionais</a>
    </li>
        <li routerLink="/servicos">
      <i class="me-2 my-3 pi pi-tag"></i>
      <a>Serviços</a>
    </li>
  </ul>
</aside>
