<div class="p-4">
  <app-formulario-clientes />

  <p-table
    id="dtClientes"
    styleClass="p-datatable-gridlines"
    [columns]="colunas"
    [value]="clientes"
    [(selection)]="clientesSelecionados"
    [paginator]="true"
    [reorderableColumns]="true"
    [totalRecords]="quantidadeTotalClientes"
    [rows]="quantidadeClientesExibidosPorPagina"
    [lazy]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando do {first}º ao {last}º de {totalRecords} clientes"
    [rowsPerPageOptions]="[10, 30, 50, 100]"
    (onLazyLoad)="mudarPagina($event)"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex align-items-center justify-content-between">
        Clientes
        <button
          pButton
          pRipple
          icon="pi pi-plus"
          label="Adicionar"
          class="p-button-primary"
          (click)="mostrarFormularioCliente(null)"
        ></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="flex align-items-center justify-content-between">
          <p-tableHeaderCheckbox />
        </th>

        <th *ngFor="let col of columns" class="align-middle text-center">
          {{ col.header }}
        </th>

        <th class="align-middle text-center align-items-center">Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-cliente let-columns="columns">
      <tr>
        <td class="align-middle text-center">
          <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
        </td>

        <td *ngFor="let col of columns" class="align-middle {{ col.align }}">
          {{ cliente[col.field] }}
        </td>

        <td class="align-middle text-center gap-3">
          <i
            class="pi pi-pencil"
            style="font-size: 2rem"
            (click)="mostrarFormularioCliente(cliente)"
          ></i>
          <i
            class="pi pi-trash ms-3"
            style="font-size: 2rem; color: rgb(255, 0, 0) !important"
            (click)="excluirCliente(cliente.id)"
          ></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
