<aside class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">    

    <!-- TODO: Colocar Componente do Usuário ou Logo Aqui -->

    <hr>

    <ul class="nav nav-pills flex-column mb-auto d-flex flex-row">
        <li>
            <i class="me-2 my-3 pi pi-calendar"></i>
            <a>Agendamentos</a>
        </li>
        <li>
            <i class="me-2 my-3 pi pi-users"></i>
            <a>Clientes</a>
        </li>
        <li>
            <i class="me-2 my-3 pi pi-tag"></i>
            <a>Serviços</a>
        </li>
        <li>
            <i class="me-2 my-3 pi pi-user"></i>
            <a>Profissionais</a>
        </li>
    </ul>
    
</aside>