<div class="p-4">
  <p-table 
    [columns]="colunas" 
    [value]="clientes" 
    [(selection)]="clientesSelecionados" 
    [paginator]="true" 
    [reorderableColumns]="true" 
    [totalRecords]="quantidadeTotalClientes" 
    [rows]="quantidadeClientesExibidos"
    [lazy]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando do {first}º ao {last}º de {totalRecords} clientes"
    [rowsPerPageOptions]="[10, 30, 50, 100]"
    (onLazyLoad)="mudarPagina($event)"
    > 
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>
          <p-tableHeaderCheckbox/>
        </th>

        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-cliente let-columns="columns">
      <tr>
        <td>
          <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
        </td>
        
        <td *ngFor="let col of columns">
          {{ cliente[col.field] }}
        </td>
      </tr>
    </ng-template>

  </p-table>

</div>

<button (click)="teste(null)">CLIQUE AQUI E OLHE O CONSOLE LOG</button>